
/* Define colors, fonts and other style attributes here to override the defaults */

/* Page background color */
 body {
	background-image: url(images/horizontalback.png) ;
	font-family:arial;
	/*background-color: #000000;*/
	font-size: 10pt;
	font-weight:bolder;
	color: black;
	link: darkblue;
	vlink: darkgray;
 }
  CAPTION.MYTABLE
  {
     font-family:arial;
     background-color:tan;
     color:black;
     border-style:solid;
     border-width:2px;
     border-color:black;
     font-size:10pt;
     font-weight: bold;
  }

  TABLE.MYTABLESIDE
  { 
 	font-family:arial;
 	font-size:9pt;
 	background-image: url(images/matbg.jpg);
 	width:100%;
 	border-style:solid;
 	border-color:darkblue;
 	border-width:1px;
 	text-align: center;
  }
   CAPTION.MYTABLESIDE
  {
     font-family:arial;
     background-color:steelblue;
     color:black;
     border-style:solid;
     border-width:1px;
     border-color:black;
     font-size:10pt;
     font-weight: bold;
  }

  TABLE.MYTABLE
  { 
 	font-family:arial;
  	font-size:10pt;
	font-weight:bolder;
 	width:100%;
 	border-style:solid;
 	border-color:gray;
 	border-width:2px;
 	text-align: center;
  }
 TABLE.MYTABLENOBORDER
  { 
	font-family:arial;
 	border-style:none;
 	font-weight:bolder;
 	font-size:10pt;
 	width:85%;
 	text-align: center;
  }
  TABLE.MYTABLEYELLOW
  { 
     font-family:arial;
     font-size:10pt;
     width:100%;
     border-style:solid;
     border-color:darkblue;
     border-width:2px;
     text-align: center;
  }

  TH.MYTABLE
  {
     font-family:arial;
     font-size:10pt;
     color:black;
  }


  TR.MYTABLE
  { 
  }

  TD.MYTABLELEFT
  {  
     font-family:arial;
     font-size:10pt;
     color:black;
     border-style:solid;
     border-width:1px;
     text-align:left;
  }
  TD.MYTABLESMALL
  {  
     font-family:arial;
     font-size:9pt;
     color:black;
     border-style:solid;
     border-width:1px;
     text-align:left;
  }
  TD.MYTABLESIDE
  {  
     font-family:arial;
     font-size:9pt;
     color:black;
     text-align:left;
  }
  TD.MYTABLECENTER
  {  
     font-family:arial;
     font-size:10pt;
     color:black;
     border-style:solid;
     border-width:1px;
     text-align:center;
  }
  TD.MYTABLENOBORDER
  {  
	font-family:arial;
 	border-style: none;
  	font-size:10pt;
 	color:black;
 	text-align:center;
  }
  

 A:link {
	color: darkblue;
	text-decoration: none;
	background: transparent;
	font-size:10pt;
	font-weight:bolder;
 }

  A:active {
 	color: darkgrey;
 	text-decoration: none;
	font-weight:bolder;
	font-size:10pt;
 	background: #FFFF00;
 }

 A:visited {
 	color: brown;
	font-size:10pt;
	font-weight:bolder;
	text-decoration: none;
 	background: transparent;
 }
 A:hover {
	color: red;
	font-size:10pt;
	text-decoration: underline;
 	background: transparent;
 }


 select {
	font-family:arial;
	color: darkblue;
	background-color: transparent;
	font-size: 9pt;
	border: 3px solid #000000;
	background : #CCFFCC;
 }


 textarea {
	font-family:arial;
	color: darkblue;
	background-color: #f0f8ff;
	font-size: 10pt;
	border: 2px solid #000000;
	word-wrap : break-word;
	width : 100%;
	height : 100%;
	overflow: visible;
 }




